
body {

    background: #f9fafb !important;
}


/*---------navbar-------*/


/* category */



h2{
    font-family: LatoBold;
    font-size: 24px;
    line-height: 32px;
    margin: 20px;
    color: #0b1219;
    padding: 20px 0px 0px 0px;
}


#category{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
} 
.box{
    /* padding: 20px 20px 0px 0px ; */
    margin-top: 25px;
    /* border: 1px solid rgba(45, 38, 38, 0.8); */
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.147);
}

.box img{
    padding-top: 20px;
  display: block;
  margin: auto;
object-fit: cover;
    /* margin-top: 10px;
    vertical-align: middle;
    display: flex;
    margin: 0 auto 8px;
    padding: 0 8px;
    height: 208px;
    text-align: center;
    align-items: center;
    width: 200px;
    object-fit: cover; */

}
 #category p{
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
 }
#category .btn{
    text-align: center;
    
}
/* span .offer{ */
    /* font-size: 14px;
    text-align: center;
    line-height: 20px;
    /* display: block; */
    /* padding: 8px 8px 0;
    color: #5ba41c;
    font-family: Lato;
    margin: auto; */ */


/* *---payment offer---*/

.payment-offers {
    overflow-y: hidden;
    overflow-x: hidden;
}

.payment-offers div::-webkit-scrollbar {
    display: none;
}

.payment-offers div {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    overflow: auto;
    gap: 30px;
}

.payment-offers div img {
    height: 80px;
    cursor: pointer;
}
.offer{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    color: green;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #32aeb1;
    padding: 15px;
}
.container{
    max-width: 1400px;
}
.form-control{
    width: 600px;
    height: 48px;
}
.nav-item .nav-link{
    color: white;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
    margin-right: 20px;

}
.img{
    width: 200px;
    height: 70px;
    padding-right: 20px;
}


 .explorer-menu {
    height: 56px;
    max-width: 1030px;
    margin: 0px auto;
    box-sizing: border-box;
    padding: 0px 10px;
    ;
}
.explorer-menu a, ul{
    list-style: none;
    text-decoration: none;
    justify-content: space-between;
}
.explorer-menu a span{
margin-left: 20px;    
}





/* footer section css */
/*---footer-*/




.foot{
    padding-top: 60px;
    
}

.f-t{
    align-items: baseline;
text-align: center;
}






.footer{
    background-image: linear-gradient(to bottom,rgba(36,174,177,0) 50%,rgba(36,174,177,.7) 130%),linear-gradient(to bottom,#fff,#fff);
    padding-top: 60px;
    background-color: rgb(234,241,255);
    padding-bottom: 60px;
}

.footer-top{
    display: flex;
    /* justify-content: space-between; */
}

.footer-top > div ul{
    list-style: none;
    margin: 0px 25px 10px 10px;
}

.footer h3{
    font-size: 18px;
    font-weight: 600;
    margin: 30px 0 10px;
}

.footer-top>div li {
    font-size: 15px;
    margin: 13px 0;
    cursor: pointer;
}

.footer-top>div:last-child h3{
    margin-bottom: 20px;
}

.footer-top>div:last-child li{
    display: inline;
    margin-right: 12px;
}

.footer-top>div:last-child img{
    width: 30px;
}

.footer-bottom{
    margin-top: 50px;
}

.footer-bottom>div{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.footer-bottom>div>div{
    margin-right: 10px;
    align-items: center;
    display: flex;
    gap: 50px;
}

.footer-bottom img{
    height: 20px;
}

.footer-bottom> div p{
    margin-left: auto;
    min-width: max-content;
    font-size: 15px;
}
